<form class="leave-comment p-t-10" action="{% url 'post-comment' %}" method="post" id="commentForm">
    {% csrf_token %}
    <input type="hidden" name="post" value="{{ post.id }}">

    <h4 class="txt33 p-b-14">Leave a Comment</h4>
    <p>Your email address will not be published. Required fields are marked *</p>

    <!-- Comment Field -->
    <div class="m-b-20">
        <textarea class="bo-rad-10 size29 bo2 txt10 p-l-20 p-t-15"
                  name="comment"
                  placeholder="Comment *">{{ form.comment.value|default_if_none:'' }}</textarea>
        {% if form.comment.errors %}
            <small class="text-danger">{{ form.comment.errors.0 }}</small>
        {% endif %}
    </div>

    <!-- Name Field -->
    <div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
        <input class="bo-rad-10 sizefull txt10 p-l-20"
               type="text"
               name="name"
               placeholder="Name *"
               value="{{ form.name.value|default_if_none:'' }}">
        {% if form.name.errors %}
            <small class="text-danger">{{ form.name.errors.0 }}</small>
        {% endif %}
    </div>

    <!-- Email Field -->
    <div class="size30 bo2 bo-rad-10 m-t-3 m-b-20">
        <input class="bo-rad-10 sizefull txt10 p-l-20"
               type="email"
               name="email"
               placeholder="Email *"
               value="{{ form.email.value|default_if_none:'' }}">
        {% if form.email.errors %}
            <small class="text-danger">{{ form.email.errors.0 }}</small>
        {% endif %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn3 flex-c-m size31 txt11 trans-0-4">
        Post Comment
    </button>
</form>
