{% extends "admin/dash_base.html" %}

{% block content %}
<h2>Category List</h2>
        <a href="{% url 'category-create' %}" class="btn btn-success">Add New Category</a>

        <table>
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>Category</th>
                    <th>No. of post</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Demo Data -->
                {% for category in categories %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.post_set.count }}</td>
                    <td class="d-flex gap-2">
                        <a href="{% url 'category-update' category.pk %}" class="btn btn-success mt-3">Edit</a>
                        <a href="{% url 'category-delete' category.pk %}" class="btn btn-danger ">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    
{% endblock content %}