{% extends "arcadia/base.html" %}

{% load static %}

{% block content %}
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url({% static 'arcadia/images/bg-title-page-01.jpg' %});">
    <h2 class="tit6 t-center">
        Arcadia Menu
    </h2>
</section>


<!-- Main menu -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
    <div class="container">
        <div class="row">
            <!--Starter-->
            <div id="starters" class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        STARTERS
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Fire Prawns
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $29.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Prawns in chili-lime glaze, lightly charred.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Silk Tofu
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $19.35
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Crispy tofu with smooth soy-ginger drizzle.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                 Leaf Rolls
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $12.19
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Fresh veggie rolls with subtle citrus.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Pepper Lotus
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $21.89
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Lotus sautéed with pepper and onions.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                   <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Spice Bites
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $25.90
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Steamed chicken, seared, mildly aromatic.
                        </span>
                    </div> 
                </div>

                <!-- DRINKS -->
                <div id="drinks" class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        Drinks
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Red Mist
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $29.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Pomegranate mint soda, refreshing and crisp.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Ginger Drop
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $19.35
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Sparkling ginger-lime with soft honey note.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Lotus Tea
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $53.34
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Warm floral tea, calming aroma.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Citrus Lift
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $62.45
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Orange, lime, mint, bright and refreshing.
                        </span>
                    </div></div>

            </div>

            <!--Main-->
            <div id="main" class="col-md-10 col-lg-6 p-l-35 p-l-15-lg m-l-r-auto">
                <div class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        Main
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Ember Salmon
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $31.18
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Pan-seared salmon with warm citrus butter.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Ginger Bowl
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $70.25
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Chicken or veggies in gentle ginger broth.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Pepper Beef
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $36.19
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Slow-cooked beef in black pepper reduction.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Coconut Curry
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $19.50
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Creamy coconut curry with jasmine rice.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Stone Noodles
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $29.15
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Soft noodles with charred vegetables, soy.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Lemon Steam
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $29.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            White fish steamed in lemon herb broth.
                        </span>
                    </div>

                </div>
                
                <!-- DESSERT -->
                <div id="dessert" class="wrap-item-mainmenu p-b-22">
                    <h3 class="tit-mainmenu tit10 p-b-25">
                        Dessert
                    </h3>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Honey Melt
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $9.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            WWarm honey cake with vanilla glaze.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Coconut Silk
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $19.35
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Creamy coconut dessert with caramel drizzle.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Dark Pot
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $5.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Silky dark chocolate with fresh berries.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Rice Cream
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $5.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Sweet rice with coconut cream, cardamom.
                        </span>
                    </div>

                    <!-- Item mainmenu -->
                    <div class="item-mainmenu m-b-36">
                        <div class="flex-w flex-b m-b-3">
                            <a href="#" class="name-item-mainmenu txt21">
                                Citrus Snow
                            </a>

                            <div class="line-item-mainmenu bg3-pattern"></div>

                            <div class="price-item-mainmenu txt22">
                                $5.79
                            </div>
                        </div>

                        <span class="info-item-mainmenu txt23">
                            Chilled citrus cream with fresh zest.
                        </span>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Lunch -->
<section id="lunch" class="section-lunch bgwhite">
    <div class="header-lunch parallax0 parallax100" style="background-image: url({% static 'arcadia/images/header-menu-01.jpg' %});">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">
                Lunch
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-101.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Lotus Salad 
                        </a>

                        <span class="txt23">
                            Crisp greens with sesame, citrus, and toasted seeds.
                        </span>

                        <span class="txt22 m-t-20">
                            $29.79
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-303.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Crisp Prawns 
                        </a>

                        <span class="txt23">
                            Lightly battered prawns with a ginger-lime drizzle.
                        </span>

                        <span class="txt22 m-t-20">
                            $45.09
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-505.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Silk Noodles 
                        </a>

                        <span class="txt23">
                            Soft noodles with braised chicken and delicate broth.
                        </span>

                        <span class="txt22 m-t-20">
                            $12.75
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-063.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Spiced Tofu 
                        </a>

                        <span class="txt23">
                            Silky tofu seared and tossed with mild aromatic spices.
                        </span>

                        <span class="txt22 m-t-20">
                            $19.25
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-062.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Coconut Fish 
                        </a>

                        <span class="txt23">
                            Lightly pan-fried fish with subtle coconut sauce and fresh herbs.
                        </span>

                        <span class="txt22 m-t-20">
                            $20.75
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-202.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Herb Chicken 
                        </a>

                        <span class="txt23">
                            Grilled chicken served with fresh garden herbs and light jus.
                        </span>

                        <span class="txt22 m-t-20">
                            $29.79
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-404.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Crispy Fish 
                        </a>

                        <span class="txt23">
                            Pan-fried fish with a smooth lemon butter glaze.
                        </span>

                        <span class="txt22 m-t-20">
                            $45.09
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-606.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Rice Harmony 
                        </a>

                        <span class="txt23">
                            Fragrant jasmine rice served with subtle aromatics and seasonal vegetables.
                        </span>

                        <span class="txt22 m-t-20">
                            $12.75
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/lunch-061.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Ginger Chicken  
                        </a>

                        <span class="txt23">
                            Tender chicken cooked with aromatic ginger and light soy glaze.
                        </span>

                        <span class="txt22 m-t-20">
                            $15.75
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Dinner -->
<section id="dinner" class="section-dinner bgwhite">
    <div class="header-dinner parallax0 parallax100" style="background-image: url({% static 'arcadia/images/header-menu-02.jpg' %});">
        <div class="bg1-overlay t-center p-t-170 p-b-165">
            <h2 class="tit4 t-center">
                Dinner
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row p-t-108 p-b-70">
            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-101.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Fire Broth 
                        </a>

                        <span class="txt23">
                            Rich warm soup with ginger and pepper notes.
                        </span>

                        <span class="txt22 m-t-20">
                            $29.79
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-303.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Maple Duck 
                        </a>

                        <span class="txt23">
                            Glazed duck with maple and light aromatic spices.
                        </span>

                        <span class="txt22 m-t-20">
                            $45.09
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-505.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Zen Curry 
                        </a>

                        <span class="txt23">
                            Creamy coconut curry with slow-cooked vegetables or protein.
                        </span>

                        <span class="txt22 m-t-20">
                            $12.75
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-063.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Silk Cod 
                        </a>

                        <span class="txt23">
                            Steamed cod with delicate herbs and a touch of citrus.
                        </span>

                        <span class="txt22 m-t-20">
                            $33.50
                        </span>
                    </div>
                </div>
                
                
                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-064.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Charred Vegetables 
                        </a>

                        <span class="txt23">
                            Seasonal vegetables wok-charred with sesame and light soy drizzle.
                        </span>

                        <span class="txt22 m-t-20">
                            $21.57
                        </span>
                    </div>
                </div>

            </div>

            <div class="col-md-8 col-lg-6 m-l-r-auto">
                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-202.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Pepper Beef 
                        </a>

                        <span class="txt23">
                            Tender beef in black pepper reduction with roasted vegetables.
                        </span>

                        <span class="txt22 m-t-20">
                            $29.79
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-404.jpg' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Ember Salmon 
                        </a>

                        <span class="txt23">
                            Pan-seared salmon with citrus butter and soft herbs.
                        </span>

                        <span class="txt22 m-t-20">
                            $45.09
                        </span>
                    </div>
                </div>

                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-606.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Stone Noodles 
                        </a>

                        <span class="txt23">
                            Wok-tossed noodles with charred vegetables and balanced soy flavors.
                        </span>

                        <span class="txt22 m-t-20">
                            $12.75
                        </span>
                    </div>
                </div>


                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-061.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Lemon Steam 
                        </a>

                        <span class="txt23">
                            Delicate white fish steamed in a light lemon herb broth.
                        </span>

                        <span class="txt22 m-t-20">
                            $12.75
                        </span>
                    </div>
                </div>


                <!-- Block3 -->
                <div class="blo3 flex-w flex-col-l-sm m-b-30">
                    <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
                        <a href="#"><img src="{% static 'arcadia/images/dinner-062.webp' %}" alt="IMG-MENU"></a>
                    </div>

                    <div class="text-blo3 size21 flex-col-l-m">
                        <a href="#" class="txt21 m-b-3">
                            Honey Glaze Lamb 
                        </a>

                        <span class="txt23">
                            Juicy lamb finished with a smooth honey and herb glaze.
                        </span>

                        <span class="txt22 m-t-20">
                            $30.75
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}