{% extends "arcadia/base.html" %}

{% block content %}

<main>
{% include "arcadia/home/main.html" %}
{% include "arcadia/home/welcome.html" %}
{% include "arcadia/home/intro.html" %}
{% include "arcadia/home/menu.html" %}
{% include "arcadia/home/event.html" %}
{% include "arcadia/home/booking.html" %}
{% include "arcadia/home/review.html" %}
{% comment %} {% include "arcadia/home/video.html" %} {% endcomment %}
<a href="{% url 'video' %}" class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33">
    <div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
        <i class="fa fa-play fs-18"></i>
    </div>
</a>

{% include 'arcadia/home/blog.html' %}

{% endblock content %}